bin/
obj/
.vs/
.vscode/
TestResults/
logs/
*.user
*.suo
*.db
*.db-shm
*.db-wal
data/

src/Invensys.ITrace.Api/ClientApp/node_modules/
src/Invensys.ITrace.Api/ClientApp/dist/
src/Invensys.ITrace.Api/wwwroot/
